
.account-info h3::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--black);
}

.pfp {
    align-items: center;
}

input#pfp {
    display: none;
  }

  button[type="submit"] {
    background-color: var(--gs-accent-blue);
    transition: background-color 0.15s linear;
}

button[disabled][type="submit"] {
    background-color: gray;
    cursor: not-allowed;
}


  @media (min-width: 640px) {
    .pfp {
        grid-template-columns: 220px 1fr;
        grid-template-rows: min-content 40px;
    }    

    .pfp button {
        grid-row: 2;
    }
  }